HELP.md
.gradle
**/build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### test-app 内できる生成物はgit に入れない
test-app/src/main/java/jp/green_code/dbcodegen/test_app/entity/**
test-app/src/main/java/jp/green_code/dbcodegen/test_app/repository/**
test-app/src/test/java/jp/green_code/dbcodegen/test_app/repository/**
